.wrapper {
  @apply bg-gradient-to-br from-[#2E3233] to-[#6C96C9] w-screen min-h-screen;
  font-size: 1rem;
  width: 100%;
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressBarHolder {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 25px;
}

.progressBar {
  display: inline-block;
  position: relative;
  left: 0;
}

.logo {
  display: inline-block;
  position: relative;
}

.cardAndStackHolder {
  display: flex;
  margin: 0 0rem;
  justify-content: space-around;
  max-height: 70%;
  max-width: 100%;
}

.stackColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardsHolder {
  justify-self: flex-start;
  max-width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 0rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.currentTestTitle {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #38bdf8;
  text-shadow: 1px 1px 2px rgb(46, 50, 51);
}

.backNextBtnContainer {
  margin: 1rem;
}
.backButton,
.nextButton {
  font-size: 1rem;
  background: linear-gradient(45deg, #a5b4fc 0%, #38bdf8 100%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 1rem;
  color: white;
  padding: 0.5rem 2rem;
  font-weight: 600;
  margin-right: 0.5rem;
  margin-top: 1rem;
  height: 40px;
}
.nextButton {
  padding: 0.5rem 1rem;
  margin: 0rem;
}
.backButton:hover,
.nextButton:hover {
  background: linear-gradient(45deg, #a5b4fc 0%, #1c8ec0 100%);
}
