::root {
  --sky-400: #38bdf8;
  --indigo-300: #a5b4fc;
}

.wrapper {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  /* height: 50%; */
}

.cardAndButtonHolder {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  height: 80%;
}

.mainCard {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow-y: scroll;
  width: 200px;
  overflow-wrap: break-word;
  hyphens: auto;
  max-height: 500px;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: white;
  /* left: 0; */
}

::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: rgba(56, 189, 248, 0.25);
}

.selector {
  font-size: 1rem;
  background: linear-gradient(45deg, #a5b4fc 0%, #38bdf8 100%);
  /* background: radial-gradient(circle, #38bdf8 0%, #a5b4fc 100%); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 1rem;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: 600;
  margin: 0;
  margin-top: 1rem;
  overflow-wrap: break-word;
  max-height: 20%;
}

.infoBlock {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  list-style: square;
}

.list {
  list-style: square;
  padding-left: 1rem;
}
