.wrapper {
  font-size: 1rem;
}

.stackChoiceBar {
  flex: 1;
  min-width: 150px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 25px;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}
